<div class="card" *ngIf="cardType == 'users'">
    <img src={{item.avatar_url}} />
    <h3 class="text-center p-y-10">{{ (item.login.length>12)? (item.login | slice:0:12)+'..':(item.login) }}</h3>

    <div class="row">
        <ul>
            <li>
                <a href={{item.html_url}} target="blank">
                    <i class="fas fa-code-branch"></i> Repositories
                </a>
            </li>
            <li>
                <a href={{item.followers_url}} target="blank">
                    <i class="fas fa-user-friends"></i> Followers
                </a>
            </li>
            <li>
                <a href={{item.organizations_url}} target="blank">
                    <i class="far fa-building"></i> Organizations
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="card" *ngIf="cardType == 'repositories'">
    <img src={{item.owner.avatar_url}} />
    <h3 class="text-center p-y-10">{{ (item.owner.login.length>12)? (item.owner.login | slice:0:12)+'..':(item.owner.login) }}</h3>

    <div class="row">
        <ul>
            <li>
                <a href={{item.owner.html_url}} target="blank">
                    <i class="far fa-user"></i> {{ (item.owner.login.length>10)? (item.owner.login | slice:0:10)+'..':(item.owner.login) }}
                </a>
            </li>
            <li>
                <a>
                    <i class="fas fa-user-friends"></i> Forks ({{item.forks_count}})
                </a>
            </li>
            <li>
                <a>
                    <i class="fas fa-eye"></i> Watchers ({{item.watchers_count}})
                </a>
            </li>
        </ul>
    </div>
</div>