<div class="card" *ngIf="cardType == 'users'">
    <img src={{item.avatar_url}} />
    <h3 class="text-center p-y-10">{{ (item.login.length>12)? (item.login | slice:0:12)+'..':(item.login) }}</h3>

    <div class="row">
        <ul>
            <li>
                <a href={{item.repos_url}}>
                    <i class="fas fa-code-branch"></i> Repositories
                </a>
            </li>
            <li>
                <a href={{item.followers_url}} target="blank">
                    <i class="fas fa-user-friends"></i> Followers
                </a>
            </li>
            <li>
                <a href={{item.organizations_url}} target="blank">
                    <i class="far fa-building"></i> Organizations
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="card" *ngIf="cardType == 'repositories'">
    <img src="https://pbs.twimg.com/profile_images/974736784906248192/gPZwCbdS.jpg" />
    <h3 class="text-center p-y-10">angular-app</h3>

    <div class="row">
        <ul>
            <li>
                <a href="#">
                    <i class="far fa-user"></i> dtrupenn
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-friends"></i> Followers
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="far fa-building"></i> Organizations
                </a>
            </li>
        </ul>
    </div>
</div>