.card {
    cursor: pointer;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px #cccccc;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    ul {
        padding-left: 0;
        list-style: none;
        li {
            padding: 10px 0 0 0;
            a {
                text-decoration: none;
                color: black;
                position: relative;
                left: 0;
                transition: 0.3s;
                &:hover {
                    left: 10px;
                    color: dodgerblue;
                }
                i {
                    width: 25px;
                }
            }
        }
    }
}