<form [formGroup]="programForm">
    <div class="search-form" [ngClass]="{'active': !isSearchEnabled}">
        <div class="container">
            <div class="row">
                <div class="logo">
                    <img src="../../../assets/images/logo.svg" />
                </div>
                <div class="content">
                    <h3>Github Searcher</h3>
                    <p>Search users or repositories below</p>
                </div>
            </div>
        
            <div class="row search-area">
                <div class="search-box">
                    <input type="text" placeholder="Start typing to search" (keyup)="search($event)" />
                </div>
                <div class="types-dropdown">
                    <select (change)="onChangeSearchType($event)">
                        <option value="users">Users</option>
                        <option value="repositories">Repositories</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="listing" [ngClass]="{'active': !isSearchEnabled}">
    <div class="container">
        <app-listing [searchType]="searchType"></app-listing>
    </div>
</div>