@import './assets/scss/base.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}